@charset "UTF-8";

@import 'colors';
@import 'cards';
@import 'footer';
@import 'scoreboard';

* {
  box-sizing: border-box;
}

body {
  font-family: Merriweather, Roboto, sans-serif;
  background: $feltGreen;
}

.main-container {
  width: 932px;
  margin: auto;
}

h1 {
  color: darken($feltGreen, 10%);
  text-shadow: 1px 1px 1px lighten($feltGreen, 10%);
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}




