@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  font-family: Merriweather, Roboto, sans-serif;
  background: #355e3b; }

h1 {
  color: #233d27;
  text-shadow: 1px 1px 1px #477f4f;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase; }

.cycle {
  line-height: 30px;
  color: #ACFD7C;
  text-align: center; }
  .cycle img {
    height: 30px;
    vertical-align: -9px; }

.cards {
  font-family: Roboto, sans-serif;
  width: 932px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #456e4b;
  margin: 20px auto; }

.card-slot {
  width: 70px;
  height: 100px;
  position: relative;
  display: inline-block; }
  .card-slot .card {
    transition: 0.6s;
    transform-style: preserve-3d;
    width: 70px;
    height: 100px; }
    .card-slot .card.shown, .card-slot .card.match {
      transform: rotateY(180deg); }
    .card-slot .card.match .front {
      transition: 0.5s;
      transition-delay: 1s;
      opacity: 0;
      top: -10px;
      bottom: -10px;
      left: -10px;
      right: -10px;
      font-size: 2.62em; }

.front, .back {
  cursor: pointer;
  border: 1px solid #052e0b;
  box-shadow: 0px 0px 4px #153e1b;
  border-radius: 4px;
  text-align: center;
  font-size: 34px;
  margin: 4px;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  position: absolute; }

.back {
  transform: rotateY(0deg); }
  .back .content {
    background: #ccc; }
  .back:hover {
    border-color: #3399FF; }
    .back:hover .content {
      box-shadow: 0px 0px 35px #3399FF inset; }

.front {
  transform: rotateY(180deg); }
  .front .content {
    background: #f0f0f0; }
  .front:after, .front:before {
    font-size: 0.6em;
    line-height: 1em;
    position: absolute; }
  .front:before {
    top: 4px;
    left: 7px; }
  .front:after {
    bottom: 4px;
    right: 7px; }

.spade .front:before, .spade .front:after {
  content: '♠'; }

.club .front:before, .club .front:after {
  content: '♣'; }

.diamond .front:before, .diamond .front:after {
  content: '♦'; }

.heart .front:before, .heart .front:after {
  content: '♥'; }

.spade, .club {
  color: black; }

.diamond, .heart {
  color: red; }

.content {
  border-radius: 4px;
  margin: 4px;
  line-height: 2.44em;
  height: 2.44em; }

